<nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
    <div class="container">
        <a class="navbar-brand" routerLink="/">Recipe book</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a routerLink='/recipes' routerLinkActive="active" class="nav-item nav-link">Recipes</a>
                <a routerLink="/shopping-list" routerLinkActive="active" class="nav-item nav-link">Shopping List</a>
                <a class="nav-link nav-item dropdown dropdown-toggle"appDropdown id="navbarDropdown">
                    Manage

                    <div class="dropdown-menu">
                        <a class="dropdown-item cursor-pointer" (click)="onSaveData()">Save data</a>
                        <a class="dropdown-item" (click)="onFetchData()">Fetch data</a>
                    </div>
                </a>
               
            </div>
        </div>
    </div>
</nav>