<div class="row">
  <div class="col-6">
    <img [src]="recipe.imagePath" alt="" class="img-fluid">
  </div>
</div>
<div class="row mb-3">
  <div class="col-8">
    <h3>{{ recipe.name }}</h3>
  </div>
  <div class="col-4">
    <div class="dropdown">
      <a class="btn btn-secondary dropdown-toggle" appDropdown href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Manage Recipe
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#" (click)="onAddIngredientsToShoppingList()">Add ingredients to shopping list</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else</a>
      </div>
    </div>
  </div>
</div>

<div class="row mb-4">
  <div class="col-12">
    {{ recipe.description }}
  </div>
</div>
<div class="row">
  <div class="col-12">
    <strong>Ingredients:</strong>
    <ul>
      <li *ngFor="let ingr of recipe.ingredients">{{ ingr.name }} ({{ ingr.amount }})</li>
    </ul>
  </div>
</div>