<div class="row">
  <div class="col-12">
    <h3>Recipe Name</h3>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="btn-group" role="group" aria-label="Manage Recipe">
      <button type="button" class="btn btn-primary">Left</button>
      <button type="button" class="btn btn-secondary">Middle</button>
      <button type="button" class="btn btn-danger">Right</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    Description:
  </div>
</div>
<div class="row">
  <div class="col-12">
    Ingredients:
  </div>
</div>