<div class="container">
  <div class="row">
    <div class="col-12">
      <app-alert-success content="Everything is ok"></app-alert-success>
      <app-alert-error content="Some error occured"></app-alert-error>
      <app-servers></app-servers>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
        <button (click)="onBtnClick()">Display details</button>
        <p *ngIf="showDetails">ou jeee</p>
        <ul>
          <li *ngFor="let item of items; let i = index"
          [ngClass]="{'font-weight-bold': i >= 5}"
          [ngStyle]="{color: i >= 5 ? 'blue' : 'black' }">{{ item }}</li>
        </ul> 
    </div>
  </div>
  
</div>

